<div class="container">
<div class="header clearfix">
<nav>
<div class="nav float-right">
    <div class="nav-item">
        <a class="nav-link" id="topRight" href="/">Home</a>
    </div>
</div>
</nav>
<h3 id="topHeader" class="text-muted">Retail News WebScraper</h3>
</div>

  <hr>
<div class="container">
    {{!--Scrapedtitles and links display.--}}

    <div class="row">
      <h3>ARTICLE TITLE:<br><a href="{{result.link}}" target="_blank">{{result.title}}</a></h3>
    </div>

    <br>

    <div class="row">
      <h3>COMMENTS:</h3>
    </div>
    <div class="row">
      {{#unless result.comment}}
        <p>No comments available. Add yours below!</p>
      {{/unless}}
    </div>

    {{!--Comments --}}

    <div class="row">
      <ul>
        {{#each result.comment}}
          <li style="list-style: none">
            <h5>Name: {{this.name}} </h5>
              <p>Message: {{this.body}}</p>
                <button class="delete-button btn btn-secondary" data-comment="{{this._id}}">Delete Comment</button>
          </li>
        {{/each}}
      </ul>
    </div>

  <div class="row"><br>
    <h3>Leave a comment</h3>
  </div>

    {{!--Post--}}

    <form method="POST" action="/articles/{{result._id}}">
      <div class="form-group row">
        <label for="name" class="col-form-label">Name</label>
          <input class="form-control" type="text" name="name" id="name" required>
      </div>
      <div class="form-group row">
        <label for="body">Message</label>
          <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
      </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
  <br>
    <footer class="footer">
          <p>&copy; Ditas Fleck 2017</p>
    </footer>

</div>